<%- include head.ejs %>
<body>
  <div class="header-index" style="font-family: Times New Roman, Times, serif;">
    User Infomation
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div id="avatar">

        </div>
      </div>

      <div class="col-md-10">
        <form action="http://localhost:8000/user_info" method="post" >
          <div class="container-fluid line">
            <div class="row">
              <div class="col-md-4">
                <div class="field" >
                    Name:
                </div>
              </div>
              <input id="name" class="value col-md-8" readonly style="border: none;background-color: #e8e8e8;" value='<%= user[0].fullname %>' name="name" type="text">
            </div>
          </div>

          <div class="container-fluid line">
            <div class="row">
              <div class="col-md-4">
                <div class="field" >
                    Sex:
                </div>
              </div>
            <input id="sex" class="value col-md-8" readonly style="border: none;background-color: #e8e8e8;"value='<%= user[0].gender %>' name="gender" type="text">
            </div>
          </div>

          <div class="container-fluid line">
            <div class="row">
              <div class="col-md-4">
                <div class="field" >
                    Birthday:
                </div>
              </div>
              <input id="birthday" class="value col-md-8" readonly style="border: none;background-color: #e8e8e8;"value='<%= user[0].birthday %>' name="birthday" type="text">
            </div>
          </div>

          <div class="container-fluid line">
            <div class="row">
              <div class="col-md-4">
                <div class="field" >
                    Email:
                </div>
              </div>
              <input id="email" class="value col-md-8" readonly style="border: none;background-color: #e8e8e8;"value='<%= user[0].email %>' name="email" type="text">
            </div>
          </div>

          <div class="container-fluid line">
            <div class="row">
              <div class="col-md-4">
                <div class="field" >
                    Phone number:
                </div>
              </div >
              <input id="phone" class="value col-md-8" readonly style="border: none;background-color: #e8e8e8;"value='<%= user[0].phonenumber %>' name="phone" type="text">
            </div>
          </div>

          <div class="container-fluid line">
            <div class="row">
              <div class="col-md-4">
                <div class="field" >
                    Position
                </div>
              </div>
              <input id="position" class="value col-md-8" readonly style="border: none;background-color: #e8e8e8;"value='<%= user[0].type %>' name="position" type="text">
            </div>
          </div>

          <div class="container-fluid line">
            <div class="row">
              <div class="col-md-4">
                <div class="field" >
                    Address:
                </div>
              </div>
              <input id="address" class="value col-md-8" readonly style="border: none;background-color: #e8e8e8;"value='<%= user[0].address %>' name="diachi" type="text">
            </div>

          </div>
          <div id="btn-edit">
            <button type="button" class="btn btn-primary mr-auto" id="edit" onclick="editInfo()">Edit</button>
            <button type="submit" class="btn btn-primary mr-auto" id="ok" onclick="" style="display:none;">OK</button>
            <button type="button" class="btn btn-primary mr-auto" id="cancel" onclick="" style="display:none"><a href="http://localhost:8000/user_info" style="color: white;">Cancel</a></button>
          </div>

        </form>

      </div>
    </div>
  </div>
  <footer class="sub_footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4"><p class="sub-footer-text text-center">&copy; A+ Coffee 2017, Theme by <a href="https://themewagon.com/">Team 9</a></p></div>
        <div class="col-md-4"><p class="sub-footer-text text-center">Back to <a href="#top">TOP</a></p></div>
        <div class="col-md-4"><p class="sub-footer-text text-center">Built With Care By <a href="#" target="_blank">Us</a></p></div>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
  function editInfo(){
    var edit = $("#edit");
    var ok = $("#ok");
    var cancel = $("#cancel");
    var name = $("#name");
    var phone = $("#phone");
    var email = $("#email");
    var address = $("#address");
    edit.css("display","none");
    ok.css("display","block");
    cancel.css("display","block");
    phone.attr("readonly", false).addClass("form-control");
    phone.css("background-color","white");
    name.attr("readonly", false).addClass("form-control");
    name.css("background-color","white");
    email.attr("readonly", false).addClass("form-control");
    email.css("background-color","white");
    address.attr("readonly", false).addClass("form-control");
    address.css("background-color","white");
  }

  </script>
</body>
