<%- include head.ejs %>
    <div id="messageSuccess" class="alert alert-success hidden">
      <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div>
    <div id="messageError" class="alert alert-danger hidden">
      <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
    </div>
    <div class="modal fade" id="Order_detail" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" >
            <h4 class="modal-title">Order details</h4>
          </div>
          <div class="modal-body">
              <div class="container-fluid" >
                <div class="row">
                  <div class="col-md-1 center-margin">
                    <h6>TABLE</h6>
                  </div>
                  <div class="col-md-4 center-margin">
                    PRODUCT
                  </div>
                  <div class="col-md-2 center-margin">
                    <h6>NUMBER</h6>
                  </div>
                  <div class="col-md-2 center-margin">
                    <h6>PRICE</h6>
                  </div>
                  <div class="col-md-2 center-margin">
                    <h6>TOTAL</h6>
                  </div>
                  <div class="col-md-1 center-margin">
                    <br>
                  </div>
                </div>
                <div id="order_products">
                </div>

              </div>
          </div>
          <div class="modal-footer">
            <div class="container-fluid text-center">
              <button type="button" class="btn btn-primary mr-auto" onclick="editOrder()">Edit Order</button>
              <button type="button" class="btn btn-primary mr-auto"onclick="guiDonHang()"
              data-toggle="modal" href="#table_modal" data-dismiss="modal">
                Send order
              </button>
            </div>
          </div>

          </div>
        </div>

      </div>
    </div>
    <div class="main" >
      <!-- ============ Menu Section  ============= -->
      <div class="menu">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Coffee')" id="defaultOpen">Coffee</button>
                <button class="tablinks" onclick="openCity(event, 'Cake')">Cake</button>
                <button class="tablinks" onclick="openCity(event, 'Other')">Other</button>
              </div>
            </div>
            <div class="col-md-9">
              <div id="Coffee" class="tabcontent">
                <!-- ============ Coffee Section  ============= -->
                <div id="coffee">
                  <!-- hien thi danh sach do uong -->
                  <div class="container-fluid">
                    <div class="row" list-group>
                      <% for(var i=0; i<products.length; i++) {%>
                        <% if( products[i].Categories_CategoryID == 1 ){ %>
                        <div class="item  col-xs-4 col-lg-4">
                          <div class="thumbnail">
                              <img  class="group list-group-image" src="<%= products[i].Url_images %> " alt="" />
                              <div class="caption">
                                  <h4 class="group inner list-group-item-heading" id="cafe01">
                                      <%= products[i].ProductName %></h4>
                                  <p class="group inner list-group-item-text">
                                      <%= products[i].Description %>
                                  </p>
                                  <div class="row">
                                      <div class="col-md-4">
                                          <p class="lead">
                                              $<%= products[i].Price %></p>
                                      </div>
                                  </div>
                                  <div class="row">
                                    <form>
                                      <div class="col-md-6">
                                          <input class="form-control" type="number" min="1" value="1" id="<%= products[i].ProductID %>">
                                      </div>
                                      <div class="col-md-6">
                                          <a onclick="addDoUong(<%=i%>)"class="btn btn-success" >Add to cart</a>
                                      </div>
                                    </form>

                                  </div>
                              </div>
                          </div>
                      </div>

                      <%}}%>
                    </div>

                  </div>

                </div>

              </div>

              <div id="Cake" class="tabcontent">
                <!-- ============ Cake Section  ============= -->
                <div id="cake">


                  <!-- hien thi danh sach do uong -->
                  <div class="container-fluid">
                    <div class="row" list-group>
                      <% for(var i=0; i<products.length; i++) {%>
                        <% if( products[i].Categories_CategoryID == 2 ){ %>
                        <div class="item  col-xs-4 col-lg-4">
                          <div class="thumbnail">
                              <img  class="group list-group-image" src="<%= products[i].Url_images %> " alt="" />
                              <div class="caption">
                                  <h4 class="group inner list-group-item-heading" id="cafe01">
                                      <%= products[i].ProductName %></h4>
                                  <p class="group inner list-group-item-text">
                                      <%= products[i].Description %>
                                  </p>
                                  <div class="row">
                                      <div class="col-md-4">
                                          <p class="lead">
                                              $<%= products[i].Price %></p>
                                      </div>

                                  </div>
                                  <div class="row">
                                    <form>
                                      <div class="col-md-6">
                                          <input class="form-control" type="number" min="1" value="1" id="<%= products[i].ProductID %>">
                                      </div>

                                      <div class="col-md-6">
                                          <a onclick="add(<%=i%>)"class="btn btn-success" >Add to cart</a>
                                      </div>

                                    </form>

                                  </div>
                              </div>
                          </div>
                      </div>

                      <%}}%>
                    </div>

                  </div>

                </div>

              </div>

              <div id="Other" class="tabcontent">
                <!-- ============ Other Section  ============= -->
                <div id="other">


                  <!-- hien thi danh sach do uong -->
                  <div class="container-fluid">
                    <div class="row" list-group>
                      <% for(var i=0; i<products.length; i++) {%>
                        <% if( products[i].Categories_CategoryID != 1 && products[i].Categories_CategoryID != 2 ){ %>
                        <div class="item  col-xs-4 col-lg-4">
                          <div class="thumbnail">
                              <img  class="group list-group-image" src="<%= products[i].Url_images %> " alt="" />
                              <div class="caption">
                                  <h4 class="group inner list-group-item-heading" id="cafe01">
                                      <%= products[i].ProductName %></h4>
                                  <p class="group inner list-group-item-text">
                                      <%= products[i].Description %>
                                  </p>
                                  <div class="row">
                                      <div class="col-md-4">
                                          <p class="lead">
                                              $<%= products[i].Price %></p>
                                      </div>

                                  </div>
                                  <div class="row">
                                    <form>
                                      <div class="col-md-6">
                                          <input class="form-control" type="number" min="1" value="1" id="<%= products[i].ProductID %>">
                                      </div>

                                      <div class="col-md-6">
                                          <a onclick="add(<%=i%>)"class="btn btn-success" >Add to cart</a>
                                      </div>

                                    </form>

                                  </div>
                              </div>
                          </div>
                      </div>

                      <%}}%>
                    </div>

                  </div>

                </div>

              </div>

            </div>
          </div>

        </div>


      </div>

      <!-- ============ Footer Section  ============= -->
      <footer class="sub_footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4"><p class="sub-footer-text text-center">&copy; A+ Coffee 2017, Theme by <a href="https://themewagon.com/">Team 9</a></p></div>
            <div class="col-md-4"><p class="sub-footer-text text-center">Back to <a href="#top">TOP</a></p></div>
            <div class="col-md-4"><p class="sub-footer-text text-center">Built With Care By <a href="#" target="_blank">Us</a></p></div>
          </div>
        </div>
      </footer>


    </div>

    <div class="modal fade" id="table_modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Nhập số bàn</h4>
            </div>
            <div class="modal-body">
              <input type="number" class="form-control" id="table_number" min="1" max="100" step="1" placeholder="Số bàn">
            </div>
            <div class="modal-footer">
              <div class="container-fluid text-center">
                <button type="button" id="jaha" data-dismiss="modal" class="btn btn-primary mr-auto" onclick="addTable()">Xác nhận</button>
              </div>
            </div>
          </form>

          </div>
        </div>

      </div>
    <script>

    var products = JSON.parse('<%-JSON.stringify(products)%>');
    </script>
    <script src="javascript/BoiBan.js" ></script>
    <script src="js/bootstrap.min.js" ></script>
    <script src="js/jquery-1.11.2.min.js"> </script>
    <script src="js/jquery.flexslider.min.js"></script>
    <script  src="js/jquery.hoverdir.js"></script>
    <script  src="js/jquery.mixitup.min.js" ></script>
    <script  src="js/jQuery.scrollSpeed.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script  src="js/jssor.core.js"> </script>
    <script  src="js/jssor.slider.js"> </script>
    <script  src="js/jssor.utils.js"> </script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/script.js"></script>
    <!-- <script type="text/javascript" src="js/main.js" ></script> -->
    <script src="js/wow.min.js"></script>
    <script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    document.getElementById("defaultOpen").click();
    </script>

  </body>
  </html>
