<%- include head.ejs %>
<div class="modal fade" id="Add_Product" role="dialog">
  <div class="modal-dialog">
    <form enctype="multipart/form-data" action="/QuanLy/add" method="post">
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header" style="background-color:#2196F3">
          <h4 class="modal-title">Product Detail</h4>
        </div>
        <div class="modal-body">
          <div class="sub-body">
            <p class="index"> Name: </p>
            <input type="text" class="form-control" step="1" placeholder="Tên đồ uống" id="AddProductName" name="productName" style="display: inline-block; width: 80%; float: right; height:100%;">
          </div>
          <div class="sub-body">
            <p class="index"> Description: </p>
            <input type="text" class="form-control" step="2" placeholder="Mô tả" id="AddProductDescription" name="productDescription" style="display: inline-block; width: 80%; float: right; height:100%;">
          </div>
          <div class="sub-body">


            <p class="index"> Price:</p>
            <input type="number" class="form-control" min="1" max="1000" value="0" step="1" placeholder="Giá tiền" id="AddProductPrice" name="productPrice" style="display: inline-block; width: 80%; float: right; height:100%;">
          </div>
          <div class="sub-body">


            <p class="index"> Category: </p>
            <select name="productType" class="form-control" style="display: inline-block; width: 40%; height:100%;border-radius: 10px;background: #337ab7; color: white;">
              <option value="coffee">Coffee</option>
              <option value="cake">Cake</option>
              <option value="other">Other</option>
            </select>
          </div>

          <p style="text-align: center;">
            <img class="group list-group-image" id="AddUrl_images" src="<%= " ../images/default.jpg " %> " alt="" style="height:170px;" />
          </p>
          <p style="text-align: center;">
            <input type="file" name="productImage" id="choseimage" style="display:none;" accept="image/*" onchange="readURL(this);" />
            <button type="button" style="position:inherit" class="btn btn-primary mr-auto" id="addChange" onclick="">Change</button>
          </p>
        </div>
        <div class="modal-footer">
          <div class="container-fluid text-center">
            <button type="button" style="position:inherit" class="btn btn-primary mr-auto" id="save-btn" onclick="">Save</button>
            <input id="save-input" style="display:none" type="submit" style="position:inherit" class="btn btn-info btn-primary mr-auto" name="submit" value="Save" />
          </div>
        </div>

      </div>
    </form>

  </div>
</div>

<div class="modal fade" id="editForm" role="dialog">
  <div class="modal-dialog">
    <form enctype="multipart/form-data" action="/QuanLy/edit" method="post">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:#2196F3">
          <h4 class="modal-title">Product details</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid" style="text-align: left;">
            <p hidden> IdForm:
              <input type="text" class="form-control" step="1" id="ProductID" name ="editProductID">
            </p>
            <div class="sub-body">
              <p class="index"> Name: </p>
                <input type="text" class="form-control" step="2" id="ProductName" name="editProductName" style="display: inline-block; width: 80%; float: right; height:100%;">
            </div>
            <div class="sub-body">
              <p class="index"> Description:  </p>
                <input type="text" class="form-control" step="3" id="Description" name="editProductDescription" style="display: inline-block; width: 80%; float: right; height:100%;">
            </div>
            <div class="sub-body">
              <p class="index"> Price:</p>
                <input type="number" class="form-control" min="1" max="1000" step="1"  value="0" id="Price" name="editProductPrice" style="display: inline-block; width: 80%; float: right; height:100%;">
            </div>
            <div class="sub-body">
              <p class="index"> Category: </p>
              <select class="form-control" name="productType" style="display: inline-block; width: 40%; height:100%;border-radius: 10px;background: #337ab7; color: white;">
                <option id="coffeeEdit" value="coffee">Coffee</option>
                <option id="cakeEdit" value="cake">Cake</option>
                <option id="otherEdit" value="other">Other</option>
              </select>
            </div>
            <p style="text-align: center;">
              <img class="group list-group-image" id="Url_images" alt="" style="height:170px; width: auto;"/>
              <input type="file" name="editProductImage" id="editimage" style="display:none;" accept="image/*" onchange="readURL1(this);" />
            </p>
            <p style="text-align: center;">
              <button type="button" style="position:inherit" class="btn btn-primary mr-auto" id="editUrl_images">Change</button>
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container-fluid text-center">
            <button type="button" style="position:inherit" class="btn btn-primary mr-auto" id="save-edit" onclick="">Save</button>
            <input id ="edit-product" style="display:none" type="submit" style="position:inherit" class="btn btn-info btn-primary mr-auto" name="submit" value="Lưu" />
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="modal fade" id="deleteConfirmForm" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form>
        <div class="modal-header" style="background-color:#2196F3">
          <h4 class="modal-title">Bạn có muốn xóa?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" style="position:inherit" class="btn btn-primary mr-auto" id="deleteConfirm_btn" data-toggle="modal" href="#table_modal" data-dismiss="modal">
            Xác nhận
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="main">
  <!-- ============ Menu Section  ============= -->
  <div class="searching-area-product container">
    <form method="get" action="/QuanLy/TKSP" >
      <div class="input-group" id="text-area-searching">
        <span class="input-group-btn">
          <button id="btn-search" class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
        <input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" placeholder="Tìm kiếm theo tên" />
        <!-- <input id="text-searching" type="text" name="datasearch" class="form-control" placeholder="Tìm kiếm theo tên, chức vụ,..."> -->
        <input type="submit" name="submit" value="TimKiem" id="inputsearch" style="display: none;" />

      </div>
    </form>
  </div>

  <div class="menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Coffee')" id="defaultOpen">Coffee</button>
            <button class="tablinks" onclick="openCity(event, 'Cake')">Cake</button>
            <button class="tablinks" onclick="openCity(event, 'Other')">Other</button>
          </div>
        </div>
        <div class="col-md-9">
          <div id="Coffee" class="tabcontent">
            <!-- ============ Coffee Section  ============= -->
            <div id="coffee">
              <div class="row-md-9">
                <div class="container-fluid">
                  <div class="row" id="productsForm" list-group>
                    <div class="item  col-md-4 col-lg-4">
                      <button data-toggle="modal" data-target="#Add_Product">
                        <span>
                          <i class="fa fa-coffee" aria-hidden="true" style="color: white;font-size: 250px;"></i>
                        </span>
                      </button>
                    </div>
                    <% for(var i=0; i<products.length; i++) { %>
                      <% if( products[i].Categories_CategoryID == 1 ){ %>
                        <div class="item col-md-4 col-lg-4" id="<%=products[i].ProductID %>">
                          <div class="thumbnail">
                            <img class="group list-group-image" src="<%= products[i].Url_images %>" alt="" id="img<%=products[i].Url_images %>" />
                            <div class="caption">
                              <h4 class="group inner list-group-item-heading" id="cafe<%=products[i].ProductID %>">
                                <%= products[i].ProductName %>
                              </h4>
                              <p class="group inner list-group-item-text">
                                  <%= products[i].descriptions %>
                              </p>
                              <div>
                                <p class="lead" id="price<%=products[i].ProductID %>">
                                  $
                                  <%= products[i].Price %>
                                </p>
                              </div>
                              <div class="button-group" >
                                <a  onclick="displayEditForm('<%=products[i].ProductID %>')" class="btn btn-success edit-btn-product" data-toggle="modal" data-target="#editForm">Edit</a>
                                <a  onclick="displayDeleteConfirmForm('<%=products[i].ProductID %>');" class="btn btn-success del-btn-product" data-toggle="modal" data-target="#deleteConfirmForm">Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <%}}%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="Cake" class="tabcontent">
                <!-- ============ Cake Section  ============= -->
                <div id="cake">
                  <div class="row-md-9">
                    <div class="container-fluid">
                      <div class="row" id="productsForm" list-group>
                        <div class="item  col-md-4 col-lg-4">
                          <button data-toggle="modal" data-target="#Add_Product">
                            <span>
                              <i class="fa fa-coffee" aria-hidden="true" style="color: white;font-size: 250px;"></i>
                            </span>
                          </button>
                        </div>
                        <% for(var i=0; i<products.length; i++) { %>
                          <% if( products[i].Categories_CategoryID == 2 ){ %>
                            <div class="item col-md-4 col-lg-4" id="<%=products[i].ProductID %>">
                              <div class="thumbnail">
                                <img class="group list-group-image" src="<%= products[i].Url_images %>" alt="" id="img<%=products[i].Url_images %>" />
                                <div class="caption">
                                  <h4 class="group inner list-group-item-heading" id="cafe<%=products[i].ProductID %>">
                                    <%= products[i].ProductName %>
                                  </h4>
                                  <p class="group inner list-group-item-text">
                                      <%= products[i].descriptions %>
                                  </p>
                                  <div>
                                    <p class="lead" id="price<%=products[i].ProductID %>">
                                      $
                                      <%= products[i].Price %>
                                    </p>
                                  </div>
                                  <div class="button-group" >
                                    <a  onclick="displayEditForm('<%=products[i].ProductID %>')" class="btn btn-success edit-btn-product" data-toggle="modal" data-target="#editForm">Edit</a>
                                    <a  onclick="displayDeleteConfirmForm('<%=products[i].ProductID %>');" class="btn btn-success del-btn-product" data-toggle="modal" data-target="#deleteConfirmForm">Delete</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <%}}%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div id="Other" class="tabcontent">
                    <!-- ============ Other Section  ============= -->
                    <div id="other">
                      <div class="row-md-9">
                        <div class="container-fluid">
                          <div class="row" id="productsForm" list-group>
                            <div class="item  col-md-4 col-lg-4">
                              <button data-toggle="modal" data-target="#Add_Product">
                                <span>
                                  <i class="fa fa-coffee" aria-hidden="true" style="color: white;font-size: 250px;"></i>
                                </span>
                              </button>
                            </div>
                            <% for(var i=0; i<products.length; i++) { %>
                              <% if( products[i].Categories_CategoryID == 3 ){ %>
                                <div class="item col-md-4 col-lg-4" id="<%=products[i].ProductID %>">
                                  <div class="thumbnail">
                                    <img class="group list-group-image" src="<%= products[i].Url_images %>" alt="" id="img<%=products[i].Url_images %>" />
                                    <div class="caption">
                                      <h4 class="group inner list-group-item-heading" id="cafe<%=products[i].ProductID %>">
                                        <%= products[i].ProductName %>
                                      </h4>
                                      <p class="group inner list-group-item-text">
                                          <%= products[i].descriptions %>
                                      </p>
                                      <div>
                                        <p class="lead" id="price<%=products[i].ProductID %>">
                                          $
                                          <%= products[i].Price %>
                                        </p>
                                      </div>
                                      <div class="button-group" >
                                        <a  onclick="displayEditForm('<%=products[i].ProductID %>')" class="btn btn-success edit-btn-product" data-toggle="modal" data-target="#editForm">Edit</a>
                                        <a  onclick="displayDeleteConfirmForm('<%=products[i].ProductID %>');" class="btn btn-success del-btn-product" data-toggle="modal" data-target="#deleteConfirmForm">Delete</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <%}}%>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>

              <!-- ============ Footer Section  ============= -->
              <%- include footer.ejs %>

            </div>
            <script>
            var products = JSON.parse('<%-JSON.stringify(products)%>');
            // var products = JSON.parse('<%-JSON.stringify(products)%>');
            $("#addChange").click(function() {
              $("#choseimage").click();
            });
            $("#editUrl_images").click(function() {
              $("#editimage").click();
            });

            function readURL(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $('#AddUrl_images')
                  .attr('src', e.target.result)
                };
                console.log(input.files[0]);
                reader.readAsDataURL(input.files[0]);
              }
              var fileName = document.getElementById("choseimage").value;
              var idxDot = fileName.lastIndexOf(".") + 1;
              var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
              if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
                  //TO DO
              }else{
                  alert("Only Image are allowed!");
              }
            }

            function readURL1(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $('#Url_images')
                  .attr('src', e.target.result)
                };
                console.log(input.files[0]);
                reader.readAsDataURL(input.files[0]);
              }
              var fileName = document.getElementById("editimage").value;
              var idxDot = fileName.lastIndexOf(".") + 1;
              var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
              if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
                  //TO DO
              }else{
                  alert("Only Image are allowed!");
              }
            }
            </script>


            <script src="../javascript/WFunction_QuanLyDoUong.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <script src="../js/jquery.flexslider.min.js"></script>
            <script src="../js/jquery.hoverdir.js"></script>
            <script src="../js/jquery.mixitup.min.js"></script>
            <script src="../js/jQuery.scrollSpeed.js"></script>
            <script src="../js/jquery.validate.js"></script>
            <script src="../js/owl.carousel.min.js"></script>
            <script src="../js/script.js"></script>
            <script src="../js/wow.min.js"></script>
            <script src ="../js/typeahead.min.js"></script>
            <script>
            $("#btn-search").click(function() {
              $("#inputsearch").click();
            });

            $(document).ready(function(){
              $('input.typeahead').typeahead({
                name: 'typeahead',
                remote: '/QuanLy/searchProduct?key=%QUERY',
                limit: 10
              });
            });

            function openCity(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
            </script>

            <script>

            </script>

          </body>

          </html>
